h1 {
    color: rgb(135, 135, 135);
    display: block;
    font-size: 30px;
    font: bold;
    margin: 0;
    text-align: left;
    margin-right: auto;
    margin-left: 10px;
    padding-top: 10px;
}

h4,
h5 {
    color: #7c7c7c;
    padding: 0;
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
}


.temperature {
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
    line-height: 0.5;
    margin-left: 8px;
    margin-top: 11px;
}

.units {
    margin-top: -7px;
    margin-left: 7px;
    text-decoration: none;
}
.weather-temperature{
    margin-left: 10px;
}
.active{
    color: rgb(33, 33, 33);
    cursor: default;
    text-decoration: none;
}
.active:hover{
    text-decoration: none;
}
.weather-app {
    border: 1px solid #dadde1;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 30px auto;
   
}

.searchCity {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.btn:hover {
    font-size: 15px;
    transition: all 150ms ease-in-out;
}


.icon {
    padding-bottom: 0;
    padding-left: 20px;
    color: #7c7c7c;
    margin-left: 20px;
}

.additionalWeather {
    color: #7c7c7c;
    list-style: none;
    margin-left: 60px;
    display: block;
    padding: 0;
    list-style: none;
    margin-top: -9px;
}
.weather-forecast{
    margin-top:10px;
    
    text-align:center;
    color: #000;
}
.weather-forecast-date{
    font-size: 16px;
    opacity:0,5;
}
.weather-forecast-temperature-min{
    opacity:0.5;
}
.weather-forecast-temperatures{
    font-size:13px;
}
.footer {
   text-align:center;
    color: #7c7c7c;
}
.footer a{
    text-decoration:none;
}


.search {
    border: solid;
    border: rgb(13, 11, 172);
}
